<!doctype html>
<html lang="en" ng-app="interval-timer">
<head>
  <meta charset="utf-8">
  <title>Running For time</title>
  <link rel="stylesheet" href="css/bootstrap-darkly.min.css">
  <link rel="stylesheet" href="css/app.css">
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> -->
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-touch/angular-touch.min.js"></script>
  <script src="app/controllers.js"></script>
</head>
<body>
<div class="container" ng-controller="app">
  <div class="row">
    <div class="col-xs-10">
        <img src="/logo.png"/>
    </div>
    <div class="col-xs-2 text-right">
      <h1>
        <a class="btn btn-info" ng-hide="!editing" ng-click="begin();"><span class="glyphicon glyphicon-ok"></span></a>
        <a class="btn btn-danger" ng-hide="editing" ng-click="end()"><span class="glyphicon glyphicon-save"></span></a>
        <a class="btn btn-danger" ng-click="reset()"><span class="glyphicon glyphicon-refresh"></span></a>
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 runners-group well" ng-init="runners = runners" ng-repeat="(group, runners) in groups" ng-controller="group">
        <div class="row">
          <div class="col-xs-6"><h2>{{ group }}</h2></div>
          <div class="col-xs-4 text-right" ng-hide="resting">
            <h2> <span class="label label-success">Time: {{ runTime | timeify | date: 'mm:ss.sss' }}</span></h2>
          </div>
          <div class="col-xs-4 text-right" ng-show="resting">
            <h2> <span class="label label-warning">Rest: {{ restTime | timeify | date: 'mm:ss.sss' }}</span></h2>
          </div>
          <div class="col-xs-2 text-right">
            <h2>
            <a class="btn btn-success" ng-hide="running || editing" ng-click="start()">Start</a>
            <a class="btn btn-danger" ng-hide="!running || editing" ng-click="stop()">Stop</a>
          </h2>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-3 runner" ng-controller="runner" ng-init="runner = runner; group = $parent" ng-repeat="runner in runners">
                <div class="runner-interaction {{ statusClass }}" ng-click="split()" >
                  <div>{{ runner.name }} <span class="label label-info">{{ runner.lastSplit | timeify | date: 'mm:ss.sss' }}<span></div>
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4">
            <input type="text" class="form-control" ng-hide="!editing" ng-model="newRunner" placeholder="Runners Name"/>
          </div>
          <div class="col-xs-4">
            <a class="btn btn-primary" ng-hide="!editing" ng-click="AddRunner()">Add</a>
          </div>
          <div class="col-xs-4 text-right">
          </div>
        </div>
    </div>
  </div>
  <div class="row well" ng-controller="add-group" ng-hide="!editing">
    <div class="col-xs-6">
      <div class="input-group">
        <input type="text" class="form-control" id="new-group-name" ng-model="name" placeholder="Group Name">
        <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="add()">Add</button>
        </span>
      </div>
    </div>
  </div>
</div>

</body>
</html>
